<template>
  <div class="form-wrapper">
    <h1 class="form-title">FEEDBACK FORM</h1>
    <form class="feedback-form" @submit.prevent="checkForm">
      <div class="form-group">
        <p
          v-if="$v.form.name.$dirty && !$v.form.name.required"
          class="invalid-feedback"
        >
          Field cannot be empty
        </p>
        <p
          v-if="$v.form.name.$dirty && !$v.form.name.minLength"
          class="invalid-feedback"
        >
          Name cannot be less than 3 characters
        </p>
        <input
          id="name"
          type="text"
          placeholder="Name"
          v-model.trim="form.name"
          :class="$v.form.name.$error ? 'is-ivalid' : ''"
        />
      </div>
      <div class="form-group">
        <p
          v-if="$v.form.email.$dirty && !$v.form.email.required"
          class="invalid-feedback"
        >
          Field cannot be empty
        </p>
        <p
          v-if="$v.form.email.$dirty && !$v.form.email.email"
          class="invalid-feedback"
        >
          Please paste correct email address
        </p>
        <input
          id="email"
          type="email"
          placeholder="Email"
          v-model.trim="form.email"
          :class="$v.form.name.$error ? 'is-ivalid' : ''"
        />
      </div>
      <star-rate />
      <div class="form-group">
        <p
          v-if="$v.form.comment.$dirty && !$v.form.comment.required"
          class="invalid-feedback"
        >
          Field cannot be empty
        </p>
        <textarea
          id="comment"
          placeholder="Comment"
          v-model.trim="form.comment"
          :class="$v.form.comment.$error ? 'is-ivalid' : ''"
        />
      </div>
      <button type="submit" class="button">Send Feedback</button>
    </form>
    <modal-popup
      v-if="modalIsVisible"
      @close="modalIsVisible = false"
      :message="message"
    />
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
import StarRate from "./StarRate";
import ModalPopup from "./ModalPopup";

const sendRequest = async (form, onResponse) => {
  const { name, email, comment } = form;
  const response = await fetch(
    "https://it-academy-viseven.herokuapp.com/task6-check",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: name,
        email: email,
        rating: 3,
        comment: comment,
      }),
    }
  );
  if (typeof onResponse == "function") {
    onResponse(response);
  }
};

export default {
  mixins: [validationMixin],

  name: "feedback-form",

  components: {
    ModalPopup,
    StarRate,
  },

  data() {
    return {
      form: {
        name: "",
        email: "",
        comment: "",
      },
      message: "",
      modalIsVisible: false,
    };
  },

  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
      },
      email: {
        required,
        email,
      },
      comment: {
        required,
      },
    },
  },

  methods: {
    checkForm() {
      this.$v.form.$touch();

      if (!this.$v.form.$error) {
        sendRequest(this.$v.form, (response) => {
          if (response.status === 200) {
            this.form.name = "";
            this.form.email = "";
            this.form.comment = "";
            this.modalIsVisible = true;
            this.message = "Thank you!";
          } else {
            this.modalIsVisible = true;
            this.message = "Something went wrong!";
          }
        });
      }
    },
  },
};
</script>

<style>
input::placeholder,
textarea::placeholder {
  font-size: 24px;
  color: black;
}

input,
textarea {
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  background-image: none;
  background-color: white;
  box-shadow: none;
  width: 458px;
  font-size: 24px;
}

input:active,
textarea:active,
input:focus,
textarea:focus {
  outline: 0;
  outline-offset: 0;
  background-color: white;
}

input {
  height: 46px;
}
textarea {
  height: 200px;
  resize: none;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 750px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.form-title {
  font-size: 36px;
  font-weight: 600;
}
.form-group {
  position: relative;
}

.invalid-feedback {
  position: absolute;
  top: -40px;
  font-weight: 500;
  color: red;
}
.button {
  height: 50px;
  width: 300px;
  border-radius: 25px;
  border: none;
  background-color: #6633ff;
  font-size: 24px;
  font-weight: 500;
  color: white;
}
</style>