<template>
  <div class="modal-bg">
  <div class="modal">
    <div class="modal-content">{{ message }}</div>
    <button type="button" class="button btn-close" @click="closeModal">OK</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "modal-popup",
  props: {
    message: {
      type: String,
      default: "",
    },
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
  },
};
</script>

<style>
.modal-bg {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: white;
}
.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  height: 300px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.modal-content {
  font-size: 36px;
  font-weight: 600;
}

.button.btn-close {
  width: 200px;
}
</style>