<template>
  <div class="star-rating" id="starRating">
    <h2 class="star-rating_title">RATE US!</h2>
    <div class="star-list">
      <span
        class="star-list_item"
        v-for="star in rateLimit"
        :key="star"
        :id="rateLimitRev - star"
        @click="(e) => clickStar(e, star)"
        @mouseover="(e) => e.target.classList.remove('active')"
        >&#9733;</span
      >
    </div>
    <span class="star-rate-in-of">{{ currentRate }} of {{ rateLimit }}</span>
  </div>
</template>

<script>
export default {
  name: "star-rate",

  data() {
    return {
      initialRate: 0,
      rateLimit: 5,
      rateLimitRev: 6,
      currentRateHov: 0,
      currentRate: 0,
    };
  },
  methods: {
    clickStar(e, star) {
      e.target.classList.add("active");
      this.currentRate = this.rateLimitRev - star;
    },
  },
};
</script>

<style>
.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.star-list {
  display: flex;
  flex-direction: row-reverse;
}

.star-list_item {
  font-size: 46px;
  color: #e5e5e5;
  cursor: pointer;
}
.star-rate-in-of {
  color: #303030;
}
/* behavior styles */
.star-list_item:hover {
  color: #ffe600;
}

.star-list_item:hover ~ .star-list_item:not(.active) {
  color: #ffe600;
}
.star-list_item.active ~ .star-list_item:not(.active) {
  color: #ffe600;
}

.active {
  color: #ffe600;
}
</style>