<template>
  <div id="app">
    <feedback-form></feedback-form>
  </div>
</template>

<script>
import FeedbackForm from "./components/FeedbackForm.vue";

export default {
  name: "App",
  components: {
    FeedbackForm,
  },
};
</script>

<style>
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>
